.jumbotron {max-width:960px;
            margin:auto;
            margin-top:20px;
            text-align:justified;
            margin-bottom:5%;
            background-color:white;
        }
#aboutme {color:teal;
}
h1 {color:teal;}

#indexpic{overflow:auto;
        float: left;
        width: 200px;
        height: auto;
        margin-top: 10px;
        margin-right: 25px;}

.card {padding-top:20px;
        position:fixed;
        bottom:0;
        width:100%;
        text-align:center;
        background-color:gray;
        padding:1px;

}
p {margin-top:40px;
}
.navbar-brand {background-color:teal;
                padding:3%;
                margin-left:11.5%;
                margin-bottom: -9px;
                padding-right:20px;
                margin-top:-9px;
                color:white;
        }              
.navbar-light .navbar-brand {
                color: white;}

.menubar {margin-left:50%;
       }
img {margin-bottom:10px;}
#my-nav-bar {border-bottom-style:solid;
            border-color:gray;
}

body {background-image:url(fishnets-and-hearts.png);}

.form3 {padding:100px;}

.container {background-color:white;
        margin:20%;
}
#masthead {position:static;}


h3 { position: absolute;
        bottom: 20px;
        width: 150px;
        padding: 1px;
        font-weight: 200;
        color: #ffffff;
        text-align: center;
        background: teal;
        font-size: 16px;
        border-bottom: 0}

#hidden {display:none;}